<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>CHECKOUT PAGE</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/client/css/styles.css" rel="stylesheet" />
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">SHOP HOMEPAGE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <a href="/cart" class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{cart.count}}</span>
                    </a>
                </form>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="mdo" width="26"
                            height="26" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <th:block th:if="${#request.remoteUser}">
                            <li><a ng-click="showhoso()" class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                            <li th:if="${#request.isUserInRole('ADMI') or #request.isUserInRole('STAF')}">
                                <a class="dropdown-item" th:href="@{/admin/}">Admin</a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/security/logoff}">Logout</a></li>
                        </th:block>
                        <th:block th:unless="${#request.remoteUser}">
                            <li><a class="dropdown-item" th:href="@{/security/login}">Login</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section>
        <div class="container mt-4">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9">
                    <div class="row py-4">
                        <h5>Số lượng sản phẩm: <span>{{cart.count}}</span></h5>
                    </div>
                    <!-- <div th:replace="~{/cart/view :: shopping-cart}"></div> -->
                    <div class="listcart">
                        <table class="table text-center tableGioHang">
                            <thead>
                                <tr>
                                    <th scope="col">Hình</th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cart.items">
                                    <td class="py-5"><img th:src="@{getproduct/{{item.images}}}" height="100px" width="100px" class="img-fluid"></td>
                                    <td class="py-5" style="width: 20%;">{{item.name}}</td>
                                    <td class="py-5">{{item.price | number : 0}}</td>
                                    <td class="py-5">{{item.qty}}</td>
                                    <td class="py-5">{{item.qty*item.price | number : 0}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <a class="btn btn-outline-warning mb-2" th:href="@{/cart}">Return to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-4">
                    <div class="row">
                        <div class="card py-4 px-1">
                            <div class="card-body">
                                <h5>Confirm order</h5>
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-2">
                                        Amount
                                        <span>{{cart.amount | number : 0}} VNĐ</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-2">
                                        Quantity
                                        <span>{{cart.count}}</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center px-0 pb-2">
                                        Shipping fee
                                        <span>Free</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-1">
                                        <div>
                                            <strong>Total payment</strong>
                                            <strong>
                                                <p class="mb-0">(VAT included)</p>
                                            </strong>
                                        </div>
                                        <span><strong>{{cart.amount | number : 0}} VNĐ</strong></span>
                                    </li>
                                </ul>
                                <div class="card border-1 mb-2">
                                    <div class="card-body">
                                        <span>Username: <span id="username">[[${#request.remoteUser}]]</span></span>
                                    </div>
                                </div>
                                <div class="card border-1 mb-2">
                                    <div class="card-body">
                                        <span>Order date: {{order.orderDate | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input ng-model="order.phone" type="text" class="form-control" id="phoneNumber">
                                    <!-- <input type="text" hidden id="phoneN"> -->
                                    <label for="phoneNumber">Number phone: </label>
                                </div>
                                <div class="form-floating mb-2 pb-2">
                                    <textarea ng-model="order.address" class="form-control"
                                        placeholder="Leave a comment here" id="floatingTextarea2"
                                        style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Your address: </label>
                                </div>
                                <button ng-click="order.purchase()"
                                    class="btn btn-outline-primary w-100 btn-block waves-effect waves-light">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Dự án tốt nghiệp</p>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/client/js/shop-ctrl.js"></script>
</body>

</html>